body{
	padding: 20px;
	background-image: linear-gradient(to right, rgb(250, 123, 123) , rgb(227, 227, 89));
	font-size: 16px;

}

.top{
	display: flex;
	align-items: center;
	gap: 10px;
}
.image{
	
}
.titles{
	margin-top: -30px;
	padding-left: 5px;

}
.website-name{

	margin-bottom: 5px;
}
.website-href{
	color: black;
	text-decoration: none;
}
.website-title{
	color: blue;
	font-size: 20px;
	margin-top: 7px;
}
.website-description{
margin-top: -10px;
font-size: 14px;
margin-bottom: 50px;
}